################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/
/DL91/bin/
/DL91/obj/
/DL91Web/bin/
/DL91Web/obj/
/DL91Web/db/91db.db
/Release/config/appsettings.json
/Release/appsettings.json
/DL91/db/91db.db
/Release/db/91db.db
/Release/wwwroot/cache
/DL91Web/wwwroot/cache
/file-sharing-master/app/release
