@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/pager.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        @@media (min-width: 1596px) {
            #div-body-content {
                width: 1596px;
            }
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var cacheDomain = localStorage.getItem('cacheDomain') || 'http://localhost:1080';
        $(function () {
            $('#cacheDomain').val(cacheDomain);
            $("#btn").click(async function () {
                cacheDomain = $('#cacheDomain').val();
                var file = $("#ff")[0];
                if (!file.value || (file.value.indexOf('mp4') < 0 && file.value.indexOf('MP4') < 0)) {
                    alert('select mp4');
                    return;
                }
                var title = $("#title").val();
                if (!title) {
                    alert('title');
                    return;
                }
				
				$('#errorMsg').html("");
                var formdata = new FormData();
                formdata.append("ff", file.files[0]);
                formdata.append("json", JSON.stringify({
                    id: "{id}",
                    isLike: "0",
                    isHD: "0",
                    fileSize: "",
                    title: "[00:00][Upload]</br>" + title,
                    url: "",
                    createDate: parseInt(((new Date()).getTime() - (new Date(1990, 0, 1)).getTime()) / 60000) - (8 * 60)
                }));
                $("#btn").attr('disabled', 'disabled');
                $('#spanProgress').html("上传中：0%");
                $.ajax({
                    url: cacheDomain + "/uploadMp4",
                    type: 'POST',
                    data: formdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                                $('#spanProgress').html("上传中：" + percentComplete + "%");
                            }
                        }, false);
                        return xhr;
                    },
                    success: function (ret) {
                        try {
                            var obj = JSON.parse(ret);
                            var taskID = obj.taskID;
                            if (!taskID) {
                                alert('No taskID returned');
                                $("#btn").removeAttr('disabled');
                                return;
                            }
                            $('#spanProgress').html("mp4处理中：0%");
                            // 轮询进度
                            var timer = setInterval(function () {
                                $.ajax({
                                    url: cacheDomain + "/queryMp4Task?taskID=" + taskID,
                                    type: 'GET',
                                    success: function (data) {
                                        var res = typeof data === "string" ? JSON.parse(data) : data;
                                        $('#spanProgress').html("mp4处理中：" + res.progress + "% [" + res.status + "]");
                                        if (res.status === "success" || res.status === "failed" || res.status === "error" || res.status === "cancel") {
                                            clearInterval(timer);
                                            $("#btn").removeAttr('disabled');
                                            alert("处理结果: " + res.status);
                                        }
                                        if(res.status === "error"){
                                            $.ajax({
                                                url: cacheDomain + "/getError?taskID=" + taskID,
                                                type: 'GET',
                                                success: function (data) {
                                                    console.log(data);
													$('#errorMsg').html(data);
                                                },
                                                error: function () {
                                                    clearInterval(timer);
                                                    $("#btn").removeAttr('disabled');
                                                    alert('查询进度失败');
                                                }
                                            });
                                        }
                                    },
                                    error: function () {
                                        clearInterval(timer);
                                        $("#btn").removeAttr('disabled');
                                        alert('查询进度失败');
                                    }
                                });
                            }, 3000);
                        } catch (e) {
                            alert('返回格式错误');
                            $("#btn").removeAttr('disabled');
                        }
                    },
                    error: function () {
                        alert('上传失败');
                        $("#btn").removeAttr('disabled');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="row well">
        <div class="col-md-2">
            @Html.Label("", "title")
            <input id="title" type="text" value="" class="form-control" />
        </div>
        <div class="col-md-2">
            @Html.Label("", "mp4")
            <input id="ff" type="file" name="ff" value="" />
        </div>
        <div class="col-md-2">
            @Html.Label("", "cacheDomain")
            <input id="cacheDomain" type="text" name="cacheDomain" value="" class="form-control"/>
        </div>
        <div class="col-md-2">
            @Html.Label("", "progress")
            <div><span id="spanProgress"></span></div>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12 form-button-Lines">
            <input id="btn" type="button" class="btn btn-default CommonBtn" value="submit" />
        </div>
    </div>
	<br/>
	<br/>
	<div id="errorMsg">
	
	</div>
	<br/>
</body>
</html>