@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script>
        var msg = '@ViewBag.msg';
        if (msg) {
            alert(msg);
        }
    </script>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <div>title:<input type="text" name="title" value="" /></div>
        <div>url:<input type="text" name="url" value="" /></div>
        <div>cover:<input type="file" name="files" value="" multiple/></div>
        <input type="submit" name="name" value="submit" />
    </form>
</body>
</html>