@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/pager.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        @@media (min-width: 1596px) {
            #div-body-content {
                width: 1596px;
            }
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var cacheDomain = localStorage.getItem('cacheDomain') || 'http://localhost:1080';
        //var cacheDomain = 'http://192.168.31.161:1080';
        $(function () {
            $('#cacheDomain').val(cacheDomain);
            $("#btn").click(async function () {
                cacheDomain = $('#cacheDomain').val();
                localStorage.setItem('localStorage', localStorage);
                var file = $("#ff")[0];
                if (!file.value || file.value.indexOf('mp4') < 0) {
                    alert('select mp4');
                    return;
                }
                var title = $("#title").val();
                if (!title) {
                    alert('title');
                    return;
                }
                var formdata = new FormData();
                formdata.append("ff", file.files[0]);
                formdata.append("json", JSON.stringify({
                    id: "{id}",
                    isLike: "0",
                    isHD: "0",
                    fileSize: "",
                    title: "[00:00][Upload]</br>" + title,
                    url: "",
                    createDate: parseInt(((new Date()).getTime() - (new Date(1990, 0, 1)).getTime()) / 60000) - (8 * 60)
                }));
                $("#btn").attr('disabled', 'disabled');
                $.ajax({
                    url: cacheDomain + "/uploadMp4",
                    type: 'POST',
                    data: formdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    xhr: function () {
                        var xhr = $.ajaxSettings.xhr();
                        if (xhr.upload) {
                            xhr.upload.addEventListener('progress', function (event) {
                                var percent = Math.floor(event.loaded / event.total * 100); //进度值（百分比制）
                                $('#spanProgress').html(percent + "%");
                            }, false);
                        }
                        return xhr
                    },
                    success: function (ret) {
                        alert(ret);
                        $("#btn").removeAttr('disabled');
                    },
                    error: function () {
                        alert('failed');
                        $("#btn").removeAttr('disabled');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="row well">
        <div class="col-md-2">
            @Html.Label("", "title")
            <input id="title" type="text" value="" class="form-control" />
        </div>
        <div class="col-md-2">
            @Html.Label("", "mp4")
            <input id="ff" type="file" name="ff" value="" />
        </div>
        <div class="col-md-2">
            @Html.Label("", "cacheDomain")
            <input id="cacheDomain" type="text" name="cacheDomain" value="" class="form-control"/>
        </div>
        <div class="col-md-2">
            @Html.Label("", "progress")
            <div><span id="spanProgress"></span></div>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12 form-button-Lines">
            <input id="btn" type="button" class="btn btn-default CommonBtn" value="submit" />
        </div>
    </div>
</body>
</html>