@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/pager.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        @@media (min-width: 1596px) {
            #div-body-content {
                width: 1596px;
            }
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var cacheDomain = 'http://localhost:1080';
        //var cacheDomain = 'http://192.168.31.161:1080';
        $(function () {
            $("#btn").click(async function () {

                var file = $("#ff")[0];
                if (!file.value || file.value.indexOf('mp4') < 0) {
                    alert('select mp4');
                    return;
                }
                var title = $("#title").val();
                if (!title) {
                    alert('title');
                    return;
                }
                var formdata = new FormData();
                formdata.append("ff", file.files[0]);
                formdata.append("json", JSON.stringify({
                    id: "{id}",
                    isLike: "0",
                    isHD: "0",
                    fileSize: "",
                    title: "[00:00][Upload]</br>" + title,
                    url: "",
                    createDate: parseInt(((new Date()).getTime() - (new Date(1990, 1, 1)).getTime()) / 60000)
                }));
                $("#btn").attr('disabled', 'disabled');
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: cacheDomain + "/uploadMp4",
                    data: formdata,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (ret) {
                        alert(ret);
                        $("#btn").removeAttr('disabled');
                    },
                    xhr: function () {
                        myXhr = $.ajaxSettings.xhr();
                        if (myXhr.upload) { // check if upload property exists
                            myXhr.upload.addEventListener('progress', function (e) {
                                var loaded = e.loaded;                  //已经上传大小情况 
                                var total = e.total;                      //附件总大小 
                                var percent = Math.floor(100 * loaded / total) + "%";     //已经上传的百分比  
                                console.log("已经上传了：" + percent);
                                //$("#processBar").css("width", percent);
                                $('#spanProgress').html(percent);
                            }, false); // for handling the progress of the upload
                        }
                        return myXhr;
                    },     
                    error: function () {
                        alert('failed');
                        $("#btn").removeAttr('disabled');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("", "title")
            <input id="title" type="text" value="" class="form-control" />
        </div>
        <div class="col-md-2">
            @Html.Label("", "mp4")
            <input id="ff" type="file" name="ff" value="" />
        </div>
        <div class="col-md-2">
            @Html.Label("", "Progress")
            <span id="spanProgress"></span>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12 form-button-Lines">
            <input id="btn" type="button" class="btn btn-default CommonBtn" value="submit" />
        </div>
    </div>
</body>
</html>